IdeaProjects/NFBankApplication/XMLSchemas/UpdateSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.example.com/UpdateSchema"
            targetNamespace="http://www.example.com/UpdateSchema">

    <xsd:element name="updateInfo" type="updateType"/>

    <xsd:complexType name="updateType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="old_value" type="xsd:string"/>
            <xsd:element name="new_value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


</xsd:schema>